/*-------------------------EQUIPO-----------------------*/

/*Estilo de la pagina equipo*/

/* Estilos de imagenes y textos seccion board */

.prev-equip-container{
    @include flex(column,center,center);
    .prev-equip{
        width: 80%;
        div{
            display: flex;
            justify-content: center;
            .prev-equip-parag{
            font-size:1.1em;
            margin:10px;
            text-align: justify;
            }
        }
    }

}

.board{
    div{
        @include flex(column,center,center);
       .board-prev{
            width: 80%;
            h2{
                font-size: 25px;
                margin:20px;
            }
            div{
                width: 80%;
                @include flex(column,center,center);
                p{
                font-size:1.1em;
                margin:10px;
                text-align: justify;
            }
        }
    }
}



    .sboard{
        div{
            margin:0.5em;
        
            div{
                .sboard-name{
                    display:inline-block;
                    font-size: 1.4em;
                    margin: 0.8em;
                    padding:2px;
                    border-radius:15px;
                    background-image: linear-gradient(to right,rgb(0,168,253),rgb(91, 4, 149));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            
                p{
                    font-size: 1.1em;
                    margin: 0.8em;
                }
        }
    }
        div{
            
            .surfboard{
                width: 17rem;
                height:19rem;
                margin:10px;
            }
        }
        
        & :nth-child(odd){
            display: flex;
            flex-direction:row;
        }
        & :nth-child(even) {
            display: flex;
            flex-direction:row-reverse;
        }
    }
}







/* Estilos de imagenes y texto seccion neoprene */

.neoprene{

    display:flex;
    flex-direction:column;
    align-items: center;

    h2{
        margin: 1em;
    }
    div{
        border:2px solid blue;
        width:80%;
        @include flex(column,center,center);
        p{
            margin: 1em;
            font-size:1.1em;
        }
    }

    h3{
        margin: 1em;
    }

    div{
        p{
            margin: 1em;
            font-size:1.1em;
        }
    }
.neoprene-season{
    width:80%;
    border: 2px solid red;
    h4{
        margin:5px;
        text-indent:5px;
        text-decoration: underline;
    }
    p{
        margin: 1em;
        font-size:1.1em;
    }
}

    .suit{
        margin:10px;
        width: 80%;
    }

    .neoprene-zip{
        h3{
            margin: 1em;
        }
        
        p{
            margin: 1em;
            font-size:1.1em;
        }

        h4{
            margin:5px;
            text-indent:5px;
            text-decoration: underline;
        }
    }

    .zip{
        margin:10px;
        width: 80%;
    }


}

/* Estilos de imagenes y cards seccion accesories */

.accesories{

    h2{
        margin:20px;
    }

    .accesories-container{
        @include flex(row,center,center);
        // display: flex;
        // justify-content:center;
        // align-items: center;

        .accesories-card{
            width:20rem;
            overflow: hidden;
            display: inline-block;
            text-align: center;
            margin:1em;

            img{
                width:100%;
                height:15rem;
                padding:2px;
                margin-top:2px;
                margin-bottom:2px;
            }
        }
    }
}


/*estilos seccion surfshop*/
.surfshop{
    h2{
        margin:1em;
    }

    p{
        margin:1em;
    }

    .surfshop-site{
        display: flex;
        flex-flow:row wrap;
        gap:2em;
        justify-content: center;
        margin-top: 10px;

        div{
            img{
                width:12rem;
                height:10rem;
            }

            a{
                display:block;

                &:link{
                    color:#000;
                }

                &:visited{
                    color:#f69;
                }
            }

        }
    }
}
