/*-------------------------EQUIPO-----------------------*/

/*Estilo de la pagina equipo*/

/* Estilos de imagenes y textos seccion school*/

.school-text-intro{
    @include flex (row,center,center);
    margin-bottom: 0;
    div{
        width:80%;
        
        p{
            width: 100%;
            text-align:justify;
        }

    }
}

.schools {
    margin: 1em;
    h2{
        margin:0.5em;
        color:#036;
    }

    p{
        margin:0.5em;
    }

    .surf-school {
        @include flex (column,center,center);

        .school-container {
            display:flex;
            flex-flow:row nowrap;
            margin:0;

            .school-parag{
                @include flex (column,center,center);
                width:45%;
                margin:0.8rem;
                padding:3px;
                p{
                    font-size: 1em;
                    text-align: justify;
                    margin:2rem;
                }
            }

            .gallery{
                display:grid;
                grid-template-areas:
                "img1 img2"
                "img1 img3"
                ;
                grid-template-columns:repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
                width:100vh;
                justify-items: center;
                justify-content: center;
                gap:0.6em;
                margin:10px;

                .img-school1 {
                    @include img-grid (15rem,15rem,0.5s);
                    grid-area: img1;
                    object-fit: cover;
                    align-self:center;
                    justify-self:center;
                }

                .img-school2 {
                    @include img-grid (15rem,15rem,0.5s);
                    grid-area:img2;
                    object-fit: cover;
                }

                .img-school3 {
                    @include img-grid (15rem,15rem,0.5s);
                    grid-area:img3;
                    object-fit: cover;

                }

                .expand:hover{
                        transform: scale(1.05,1.05);
                        box-shadow: 10px 6px 35px -4px rgba(169,194,16,0.75);
                        transition-duration: 0.5s;
                        padding:0;
                        margin:0;
                    }
            }




        }
    }
}

.school-link-container{
    @include flex (row,center,center);
    margin: 0.4rem;
    .school-link{
        text-align: center;
        font-size: 1.5em;

        &:hover{
            background-image: linear-gradient(to right,rgb(0,168,100),rgb(61, 4, 100));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.borja-channel{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:0.9em;

    h2{
        text-align: center;
    }
    div{
        width:80%;
        p{
            text-align: justify;
        }
    }

    .borja-video{
        width:560px;
        height:315px;
    }

    div{
        display: flex;
        justify-content: center;
        a{
            transition:0.4s;
            margin: 4px;
            padding: 3px;
            border:2px solid transparent;
S
            &:hover {
                border:2px solid rgb(216, 223, 19);
                border-radius: 25px;
                color:rgb(216, 223, 19);
                background-color:rgb(30, 53, 180);
                transition:0.4s;
            }
        }
    }

}