
// Disposicion de elementos con Flex:

@mixin flex ($flex-direction,$justify-content,$align-items){
    display:flex;
    flex-direction: $flex-direction;
    justify-content:$justify-content;
    align-items: $align-items;
}

// tamaño img en seccion escuelas

@mixin img-grid ($width,$height,$transition-d){
    width: $width;
    height: $height;
    transition-duration:$transition-d;
}