/* tamaño de 768pxde ancho */

/* --------------Tablet a mobile---------------- */

@media screen and (max-width:768px){

    /* Estilo general subtitulos y parrafos */

    h1{
        font-size: 1.2em;
    }
    
    h2{
        text-align:center;
        font-size: 1em;
        }
    
    h3, h4{
        font-size:0.85em;
    }
    
    p{
        font-size:0.7em;
        text-align:center;
    }


/* Navbar */

header {

    .bootnav{

        .navbar{
            flex-flow: column wrap;
            justify-content: center;
            align-items:center;
            width: 100%;
            font-size:1.1em;

            .container-fluid{

                .navbar-brand{

                    .logo{
                        width: 3.5rem;
                        height: 3.8rem;
                        padding: 0;
                    }
                }
            }
            }
        
            #menu{
                .navbar-nav{
                    @include flex(column,center,center);
                  }
                }
            }
            
    }


    /* index */

    .intro{

        .lele{
            width:14rem;
            height:10.5rem;
            margin:2px;
        }
        .text-intro-container{
            width:90%;
            .text-intro{
                width:100%;
                text-align:justify;
            }

        }
    }

    .history{
        .text-history-container{
            width:90%;
            text-align:justify;
            .text-history{
                width:100%;
            }

        }
        .history-image{
            .img-history{
                width:14rem;
                height:10.5rem;
                margin:2px;
            }

        }
    }

    /* Playas */


    .beach{

        .beach-container{
            @include flex (column,center,center);

            .beach-card{
                width: 15rem;
                height: 21.2rem;

                div{
                    h3{
                        font-size:16.5px;
                    }
                    p{
                        font: size 12.6px;
                    }
                }

            }
        }
    }

    /* Equipo */

    .prev-equip-container{
        .prev-equip{
            div{
                .prev-equip-parag{
                font-size:14px;
                margin:5px;
                }
            }
        }
    
    }


    .board{
        div{
            .board-prev{
                width:90%;
                h2{
                    font-size: 17px;
                }

                div{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }

        .sboard{

            div{

                div{
                    width:90%;
                    .sboard-name{
                        font-size: 16px;
                    }
                    p{
                        text-align: justify;
                        font-size: 14px;
                    }
                }
            }
        }

    }

    .neoprene {

        h2{
            font-size: 17px;
        }

        div{
            p{
            font-size:14px;
            }
        }
        h3{
            font-size: 16px;
        }

        div{
            p{
                font-size: 14px;
            }
        }

        .neoprene-season{
            width:90%;
            h4{
                font-size: 16px;
            }
            p{
                font-size:14px;
            }
        }
        
            .suit{
                margin:10px;
                width: 90%;
                height:165px;
            }
        
            .neoprene-zip{
                h3{
                    margin: 0.3em;
                }
                
                p{
                    margin: 0.3em;
                    font-size:14px;
                }
        
                h4{
                    text-align:center;
                   font-size: 16px;
                }
            }
        
            .zip{
                margin:10px;
                width: 90%;
                height: 170px;
            }



    }

    .accesories{

        .accesories-container{
    
            .accesories-card{
                width:80%;
                overflow: hidden;
                display: inline-block;
                text-align: center;
                margin:1px;

                .p-container{
                    width:100%;
                    
                    p{
                        margin:2px;
                        font-size:14px;
                    }
                }
            }
        }
    }

    /* Escuelas */

    .schools {
        margin: 1em;
        h2{
            margin:0.5em;
        }
    
        p{
            margin:0.5em;
            font-size:14px;
        }
    
        .surf-school {
            
    
            .school-container {
                margin:0.5 0 0.5 0;
    
                .school-parag{
                    width:80%;
                    margin:0.6rem;
                    padding:3px;
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    p{
                        width:100%;
                        font-size:14px;
                        margin:0.4rem;
                    }
                }
    
                .gallery{
                    display:grid;
                    grid-template-areas:
                    "img1"
                    "img2"
                    "img3"
                    ;
                    grid-template-columns:1fr;
                    grid-template-rows: repeat(3, 1fr);
                    width:90vw;
                    justify-items: center;
                    justify-content: center;
                    gap:0.5em;
                    margin:0px;
                    .img-school1 {
                        @include img-grid(11rem,11rem,0.5s);
                    }
    
                    .img-school2 {
                        @include img-grid(11rem,11rem,0.5s);
                    }
    
                    .img-school3 {
                        @include img-grid(11rem,11rem,0.5s);
                    }
    
                    .expand:hover{
                        width:13rem;
                        height:13rem;
                        }
                }
            }
        }
    }


    .school-link-container{
        margin: 0.3rem;
        .school-link{
            text-align: center;
            font-size: 1em;
        }
    }


    .borja-channel{
        gap:0.5 em;
    
        .borja-video{
            width:250px;
            height:160px;
        }

    }

     /* Contacto */

    .form-p{
        font-size: 0.8em;
    }

     .form{
        @include flex (row,center,center);
        margin:10%;

     .form-container{
        width:15rem;
        .data{
            @include flex(column,center,center);
            gap: 4px;
            margin:7px;
            font-size: 13px;
        }

        .choose-board{
            font-size: 13px;
            legend{
                font-size: 13px;
            }
        }
        .coment{
            @include flex(column,center,center);
            margin:10px;
            font-size: 13px;
            textarea{
                display:inline-block;
                text-align: center;
                width:250px;
                height: 200px;
            }
        }

        p{
            font-size: 13px;
        }
    }
}


}//fin responsive


/* ----------------------------------------------- */